!!! 5
%html.no-js
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE edge")
    %title 1820 Productions
    %link(rel="stylesheet" href="css/main.css")


    %header.l-header
      %a.brand(href="#")
      %a.menu.menu--toggle(href="#")
         %span.menu__nav Menu
        .icons
          %span
          %span
          %span

    %section#intro.banner.banner--animate
      .banner__caption
        %h1.banner__title
          %span.up
            %span.animated-up
              We Make
              %span.gray Creative
          %span.huge
            %span.animated-down Simple
        .banner__content
          %p We listen. We Develop. We execute.
          %p And you can get the
            %span.copy
              Unicorn
            you always wanted.
          %a.button.button--play(href="#") Watch Our Reel
            %i.icon.icon--play
    %section#portfolio.banner.banner--animate.banner--portfolio
      .banner__caption
        %h1.banner__title.banner__title--secondary
          %span.up
            %span.animated-up
              Our
              %span.gray Projects
          %span.huge
            %span.animated-down Work
        .portfolio
          .portfolio__item
            %a(href="#")
              %span.portfolio__title
                %span.t Wingstop
                %br
                %span.s Flavor Me
              %img(src="images/1.jpg")
          .portfolio__item
            %a(href="#")
              %span.portfolio__title
                %span.t Parkland Foundation
                %br
                %span.s New Parkland
              %img(src="images/2.jpg")
          .portfolio__item
            %a(href="#")
              %span.portfolio__title
                %span.t Embassy City Church
                %br
                %span.s Promo
              %img(src="images/3.jpg")
          %a.button(href="#") View All Projects

    %footer.l-footer
      %nav.menu.menu--secondary
        %ul
          %li %a(href="#")Instagram
          %li %a(href="#")Facebook
          %li %a(href="#")Twitter
          %li %a(href="#")Youtube
      .copyright
        © 1820 Productions 2015. All rights reserved.
    .video-screen
      %a.video__close(href="#")
        %i.icon.icon--close
      %video#intro(src="https://skyfiregcs-a.akamaihd.net/exp=1447928454~acl=%2A%2F404828557.mp4%2A~hmac=ba2e54d2e0c192fe74a24270faff0b0ebe9aed167e11508e6ae9fd16b3ca977a/vimeo-prod-skyfire-std-us/01/2308/5/136542060/404828557.mp4" autoplay poster="images/bg.jpg")
        Sorry, your browser doesn't support embedded videos


    %script(type="text/javascript" src="scripts/vendors/jquery.min.js")
    %script(type="text/javascript" src="scripts/plugins.min.js" )
    %script(type="text/javascript" src="scripts/main.js" )